body,
html {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	background-image: url("./assets/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

button {
	font-family: "Roboto", sans-serif;
	padding: 15px 10px;
}
